In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("./company_impressions_data_v2.csv")

In [5]:
df

,pi,piName,iec_range,cohort_id,companyId,avg_monthly_impressions,p99,p100,total_companies_in_cohort,companyName
0,21,Financial Services,1001-5000,1001-5000_21,83,50693.0,35134.5,50693.0,150,Crisil
1,21,Financial Services,1001-5000,1001-5000_21,12312,35134.5,35134.5,50693.0,150,Morningstar
2,21,Financial Services,1001-5000,1001-5000_21,932545,32589.0,35134.5,50693.0,150,Angel One
3,21,Financial Services,1001-5000,1001-5000_21,12252,30355.5,35134.5,50693.0,150,Kotak Securities
4,21,Financial Services,1001-5000,1001-5000_21,810893,30088.0,35134.5,50693.0,150,Acuity Analytics
...,...,...,...,...,...,...,...,...,...,...
6044,159,Auto Components,1001-5000,1001-5000_159,286419,114.0,25235.0,32599.5,115,Rane (Madras) Limited - Engine Components Divi...
6045,159,Auto Components,1001-5000,1001-5000_159,18934,112.0,25235.0,32599.5,115,Munjal Showa
6046,159,Auto Components,1001-5000,1001-5000_159,241606,110.0,25235.0,32599.5,115,Federal mogul goetze
6047,159,Auto Components,1001-5000,1001-5000_159,172548,108.0,25235.0,32599.5,115,Jay Ushin
6048,159,Auto Components,1001-5000,1001-5000_159,590136,102.0,25235.0,32599.5,115,Automotive Axles